.small-card-wrap {
    display:flex;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.card-double {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin:0;
    padding:0;
    text-align: left;
  font-family: Verdana, sans-serif;
  display:flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.line-chart {
      background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 40px;
  text-align: left;
  font-family: Verdana, sans-serif;
  display:flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
