h1{
    font-size: 28px;
    padding: 12px;
}



.table-container {
  margin-left: 10px;
  overflow-x: auto;
  border: black 0px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
align-items: center;


}

.data-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 28px;
}

.data-table th,
.data-table td {
  border: 1px solid #1976d2;
  padding: 12px;
  text-align: left;
}

.data-table th {
  background-color: #dbecfe;
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #94bae8;
}

.data-table tr:hover {
  background-color: #6df0f3;
  transition: background-color 0.1s ease-in-out;
}

